:root {
  --dark-main-color: #343332;
  --dark-secondary-color: #978de0;
  --dark-read-color: #8de09f;
  --dark-unread-color: #e0928d;

  --light-main-color: #dddddd;
  --light-secondary-color: #9c5de8;
  --light-read-color: #428d35;
  --light-unread-color: #e9355b;
}

body {
  background-color: var(--dark-main-color);
  font-family: 'Lato', sans-serif;
  color: var(--dark-secondary-color);
}

.material-icons.md-36 {
  font-size: 36px;
}

#toggle-form {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  margin: auto;
  margin-top: 5vh;
  width: 60vmin;
}

.toggle-form-button {
  grid-area: 1 / 3 / 2 / 6;
  font-size: 1em;
  color: var(--dark-main-color);
  background-color: var(--dark-secondary-color);
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 8px;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
}

#add-book {
  /* display: grid; */
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr) repeat(2, 0.5fr);
  width: 60vmin;
  /* height: 25vh; */
  margin: auto;
  margin-top: 3vh;
}

/* Text Inputs */
#book-title,
#book-author {
  box-sizing: border-box;
  border: 1px solid var(--dark-secondary-color);
  color: var(--dark-secondary-color);
  width: 100%;
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 5px;
  padding: 12px 16px 12px 48px;
  border-radius: 4px;
  overflow: visible;
  background-color: transparent;
}

#book-title::placeholder,
#book-author::placeholder {
  color: var(--dark-secondary-color);
}

label[for='book-title'],
label[for='book-author'] {
  font-size: 0.75rem;
}

.icons {
  float: left;
  margin-left: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 1;
}

.book-input-title {
  grid-area: 1 / 2 / 2 / 7;
}

.book-input-author {
  grid-area: 2 / 2 / 3 / 7;
}

/* Read Checkbox */
.book-status {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  user-select: none;
  padding: 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
}

input[type='checkbox'] + label {
  cursor: pointer;
  /* color: #e09f8d; */
  color: var(--dark-unread-color);
}

input[type='checkbox']:checked + label {
  color: var(--dark-read-color);
}

.book-status input[type='checkbox'],
.book-status .checked {
  display: none;
}

.book-status input[type='checkbox']:checked ~ .checked {
  padding-left: 5px;
  padding-bottom: 3px;
  display: inline-block;
  color: var(--dark-read-color);
}

.book-status input[type='checkbox'],
.book-status .unchecked {
  padding-left: 5px;
  padding-bottom: 3px;
  color: var(--dark-unread-color);
}

.book-status input[type='checkbox']:checked ~ .unchecked {
  display: none;
}

/* Submit */
.submit {
  grid-area: 4 / 3 / 5 / 6;
  color: var(--dark-main-color);
  background-color: var(--dark-secondary-color);
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  cursor: pointer;
}

/* Books Submitted */
#bookshelf {
  display: grid;
  grid-auto-rows: max-content;
}

#unread,
#read {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

#unread {
  color: var(--dark-unread-color);
}

#read {
  color: var(--dark-read-color);
}

.book {
  font-size: 1.3em;
  list-style: none;
  text-align: center;
}

/* Book Modal - Opens when a book is clicked. */
#book-modal {
  display: none;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, max-content);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: var(--dark-main-color);
  border: 2px solid var(--dark-secondary-color);
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.5);
  /* width: fit-content; */
  width: 80vw;
}

#book-modal-title {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-area: 1 / 1 / 2 / 8;
  padding: 15px 0 0 15px;
  font-size: 1.4em;
  margin: 0;
}

#book-modal-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 8 / 2 / 9;
  color: var(--dark-unread-color);
  cursor: pointer;
}

#book-modal-author {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-area: 2 / 1 / 3 / 9;
  padding: 0 15px;
  font-size: 1.4em;
  margin: 0;
}

#book-modal-date-added,
#book-modal-date-completed {
  margin: 0;
  padding: 0 15px;
  font-size: 1.2em;
}

#book-modal-date-added {
  grid-area: 3 / 1 / 4 / 9;
  margin-top: 5px;
  color: var(--dark-unread-color);
}

#book-modal-date-completed {
  grid-area: 4 / 1 / 5 / 9;
  color: var(--dark-read-color);
}

#book-modal-close,
#book-modal-mark-complete {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--dark-main-color);
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

#book-modal-mark-complete {
  grid-area: 5 / 1 / 6 / 5;
  background-color: var(--dark-read-color);
  margin: 14px 7px 14px 14px;
}

#book-modal-close {
  grid-area: 5 / 5 / 6 / 9;
  background-color: var(--dark-secondary-color);
  margin: 14px 14px 14px 7px;
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  #book-modal {
    width: 80vw;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
  #book-modal {
    width: 65vw;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  #book-modal {
    width: 55vw;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
  #book-modal {
    width: 40vw;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  #book-modal {
    width: 25vw;
    left: 90%;
    top: 5vh;
    transform: translate(-90%);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-main-color);
    color: var(--light-secondary-color);
  }

  .toggle-form-button {
    color: var(--light-main-color);
    background-color: var(--light-secondary-color);
  }

  #book-title,
  #book-author {
    border: 1px solid var(--light-secondary-color);
    color: var(--light-secondary-color);
  }

  #book-title::placeholder,
  #book-author::placeholder {
    color: var(--light-secondary-color);
  }
  input[type='checkbox'] + label {
    color: var(--light-unread-color);
  }

  input[type='checkbox']:checked + label {
    color: var(--light-read-color);
  }

  .book-status input[type='checkbox']:checked ~ .checked {
    color: var(--light-read-color);
  }

  .book-status input[type='checkbox'],
  .book-status .unchecked {
    color: var(--light-unread-color);
  }

  .submit {
    color: var(--light-main-color);
    background-color: var(--light-secondary-color);
  }

  #unread {
    color: var(--light-unread-color);
  }

  #read {
    color: var(--light-read-color);
  }

  #book-modal {
    background-color: var(--light-main-color);
    border: 2px solid var(--light-secondary-color);
  }

  #book-modal-delete {
    color: var(--light-unread-color);
  }

  #book-modal-date-added {
    color: var(--light-unread-color);
  }

  #book-modal-date-completed {
    color: var(--light-read-color);
  }

  #book-modal-close,
  #book-modal-mark-complete {
    color: var(--light-main-color);
  }

  #book-modal-mark-complete {
    background-color: var(--light-read-color);
  }

  #book-modal-close {
    background-color: var(--light-secondary-color);
  }
}
