:root {
  --dark-main-color: #343332;
  --dark-secondary-color: #dddddd;

  --light-main-color: #dddddd;
  --light-secondary-color: #343332;
}

body {
  background-color: var(--dark-main-color);
  font-family: 'Lato', sans-serif;
  color: var(--dark-secondary-color);
}

#add-book {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 60vmin;
  height: 25vh;
  margin: auto;
  margin-top: 5vh;
}

/* Text Inputs */
#book-title,
#book-author {
  box-sizing: border-box;
  border: 2px solid black;
  width: 100%;
  font-size: 2.5vmin;
  margin-bottom: 5px;
  padding: 10px;
  background-color: var(--dark-secondary-color);
}

label[for='book-title'],
label[for='book-author'] {
  font-size: 12px;
}

.book-input-title {
  grid-area: 1 / 1 / 2 / 4;
}

.book-input-author {
  grid-area: 1 / 5 / 2 / 8;
}

/* Read Checkbox */
.book-status {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  color: #8de09f;
  padding: 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
}

.book-status input[type='checkbox'],
.book-status .checked {
  display: none;
}

.book-status input[type='checkbox']:checked ~ .checked {
  padding-left: 5px;
  padding-bottom: 3px;
  display: inline-block;
  color: #8de09f;
}

.book-status input[type='checkbox'],
.book-status .unchecked {
  padding-left: 5px;
  padding-bottom: 3px;
  color: #e09f8d;
}

.book-status input[type='checkbox']:checked ~ .unchecked {
  display: none;
}

/* Submit */
#submit {
  grid-area: 4 / 3 / 5 / 6;
  background-color: var(--dark-secondary-color);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  width: 100%;
  height: 85%;
  font-size: 12px;
  cursor: pointer;
}

/* Books Submitted */
#bookshelf {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
}

#unread,
#read {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#unread {
  opacity: 0;
  color: #e09f8d;
}

#read {
  opacity: 0;
  color: #8de09f;
}

.book {
  list-style: none;
  font-size: 3vmin;
}
